* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
    padding: 0 1rem;
}

/* Header */

header {
    background: linear-gradient(-90deg, #98DED9, #161D6F);

    margin: auto -1rem;
    padding: 1rem 2rem;
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 400;
}

/* Note */

.note {
    background: #fff;
    border-radius: 0.5rem;

    box-shadow: 0.25rem 0.25rem 0.25rem rgba(175, 175, 175, 0.5);

    padding: 1rem;
    width: 15rem;
    margin: 1rem;
    float: left;
}

.note h1 {
    font-size: 1.1rem;
    padding: 0 0 0.5rem;
}

.note p {
    font-size: 1.1rem;

    padding: 0.5rem 0 0;

    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Footer */

footer {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.5rem;
}

footer p {
    color: rgb(175, 175, 175);
}