* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
}

#root {
    min-height: 100vh;
    position: relative;
}

/* Header */

header {
    background: linear-gradient(-90deg, #98DED9, #161D6F);
    padding: 1rem 2rem;
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 400;
}

/* Note */

.notes-section {
    padding: 1rem 1rem 3.375rem;
    display: flex;
    flex-wrap: wrap;
}

.note {
    background: #fff;
    border-radius: 0.5rem;

    box-shadow: 0.25rem 0.25rem 0.25rem rgba(175, 175, 175, 0.5);

    padding: 1rem;
    margin: 1rem;

    width: 12.5%;
    min-width: 12.5rem;
    max-width: 20rem;
    flex-grow: 1;
}

.note h1 {
    font-size: 1.1rem;
    padding: 0 0 0.5rem;
}

.note p {
    font-size: 1.1rem;

    padding: 0.5rem 0 0;

    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Footer */

footer {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.5rem;
}

footer p {
    color: rgb(175, 175, 175);
}

/* Media Queries */

@media (max-width: 727px) {
    .note {
        max-width: unset;
    }
}

@media (max-width: 495px) {
    header {
        text-align: center;
    }
}

@media (max-width: 264px) {
    header {
        padding: 1rem;
        text-align: left;
    }

    header h1 {
        font-size: 1.75rem;
    }

    .notes-section {
        padding: 0 0 4.375rem;
    }

    .note {
        margin: 0 0 1px;


        width: 100%;
        min-width: unset;
        max-width: unset;


        border-radius: 0;
        box-shadow: none;
    }

    .note h1,
    .note p {
        font-size: 1rem;
    }

    footer {
        padding: 0 1rem;
        bottom: 1rem;
    }
}

@media (max-width: 176px) {
    header h1 {
        font-size: 1.5rem;
    }

    .notes-section {
        padding-bottom: 5.5625rem;
    }
}